<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">

            </hgroup>
            <p>
              <img src="http://mike.acosta.net/images/vevo.png" />
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>We suggest the following steps:</h3>
        <ol class="round">
            <li class="one">
                <h5>List of all artists</h5>
                <a href="/api/artists" target="_blank">http://vevoapi.apphb.com/api/artists</a>
            </li>

            <li class="two">
                <h5>View all videos by an artists</h5>
                http://vevoapi.apphb.com/api/artists/{id}/videos
                <br />OR<br />
                http://vevoapi.apphb.com/api/videos/{id}
            </li>
            <li class="three">
                <h5>CRUD</h5>
                POST - artistsname, artisturlsafename<br />
                PUT - artistid, artistsname, artisturlsafename<br />
                DELETE - artistid
            </li>
        </ol>
    </section>
</div>
