<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to ASP.NET Web API!</h1>
                <h2>Modify the code in this template to jump-start your ASP.NET Web API development.</h2>
            </hgroup>
            <p>
                ASP.NET Web API allows you to expose your applications, data and services to the
                web directly over HTTP.
            </p>
            <p>
                To learn more about ASP.NET Web API visit the
                <a href="http://go.microsoft.com/fwlink/?LinkID=238195" title="ASP.NET Web API Website">ASP.NET Web API Website</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET Web API.
                If you have any questions about ASP.NET Web API, visit
                <a href="http://go.microsoft.com/fwlink/?LinkID=238196" title="ASP.NET Web API Forum">our forums</a>.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>We suggest the following steps:</h3>
        <ol class="round">
            <li class="one">
                <h5>List of all artists</h5>
                <a href="/api/artists" target="_blank">@Request.Url.ToString()api/artists</a>
            </li>

            <li class="two">
                <h5>View all videos by an artists</h5>
                @Request.Url.ToString()api/artists/{id}/videos
                <br />OR<br />
                @Request.Url.ToString()api/videos/{id}
            </li>
            <li class="three">
                <h5>CRUD</h5>
                POST - artistsname, artisturlsafename<br />
                PUT - artistid, artistsname, artisturlsafename<br />
                DELETE - artistid
            </li>
        </ol>
    </section>
</div>
